<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://www.filepicker.io/api/client/</string>
	<string>https://www.dropbox.com/1/oauth/authorize</string>
	<string>https://www.dropbox.com/login</string>
	<string>https://www.dropbox.com/m/connect_login</string>
	<string>https://www.dropbox.com/verify_code</string>
	<string>http://www.facebook.com/dialog/oauth</string>
	<string>https://www.facebook.com/dialog/oauth</string>
	<string>http://m.facebook.com/login.php</string>
	<string>https://m.facebook.com/login.php</string>
	<string>https://m.facebook.com/dialog/</string>
	<string>http://www.facebook.com/dialog/permissions.request</string>
	<string>https://www.facebook.com/dialog/permissions.request</string>
	<string>https://m.facebook.com/checkpoint/</string>
	<string>https://m.facebook.com/login/checkpoint/</string>
	<string>https://www.google.com/accounts/OAuthAuthorizeToken</string>
	<string>https://accounts.google.com/OAuthAuthorizeToken</string>
	<string>https://www.google.com/accounts/CheckCookie</string>
	<string>https://accounts.google.com/CheckCookie</string>
	<string>https://www.google.com/accounts/ServiceLoginAuth</string>
	<string>https://accounts.google.com/ServiceLoginAuth</string>
	<string>https://www.google.com/accounts/ServiceLogin</string>
	<string>https://accounts.google.com/ServiceLogin</string>
	<string>https://www.google.com/accounts/MergeSession</string>
	<string>https://accounts.google.com/MergeSession</string>
	<string>https://accounts.google.com/</string>
	<string>https://accounts.youtube.com/</string>
	<string>https://www.google.com/accounts/o8/ud</string>
	<string>https://accounts.google.com/o/oauth2</string>
	<string>https://accounts.google.com/o/openid2</string>
	<string>https://www.google.com/a/</string>
	<string>https://www.google.com/a/UniversalLogin</string>
	<string>https://www.google.com/accounts/AccountChooser</string>
	<string>https://accounts.google.com/AccountChooser</string>
	<string>https://plus.google.com/u/0/_/notifications/frame</string>
	<string>https://www.box.com/api/1.0/auth</string>
	<string>https://www.box.com/index.php?rm=box_single_sign_on_login_or_register</string>
	<string>https://www.box.com/index.php?rm=box_api_auth</string>
	<string>https://www.box.com/sso/</string>
	<string>https://app.box.com/api/</string>
	<string>https://github.com/login</string>
	<string>https://github.com/session</string>
	<string>http://api.instagram.com/oauth/authorize</string>
	<string>https://api.instagram.com/oauth/authorize</string>
	<string>http://instagram.com/oauth/authorize</string>
	<string>https://instagram.com/oauth/authorize</string>
	<string>http://instagram.com/accounts/</string>
	<string>https://instagram.com/accounts/</string>
	<string>http://www.flickr.com/services/oauth/authorize</string>
	<string>https://www.flickr.com/services/oauth/authorize</string>
	<string>http://www.flickr.com/services/oauth</string>
	<string>https://www.flickr.com/services/oauth</string>
	<string>http://m.flickr.com/#/services/oauth/</string>
	<string>https://m.flickr.com/#/services/oauth/</string>
	<string>http://m.flickr.com/signin/</string>
	<string>https://m.flickr.com/signin/</string>
	<string>http://m.flickr.com/services/oauth/authorize</string>
	<string>https://m.flickr.com/services/oauth/authorize</string>
	<string>https://mlogin.yahoo.com/</string>
	<string>http://mlogin.yahoo.com/</string>
	<string>http://mlogin.yahoo.com/w/login/</string>
	<string>https://mlogin.yahoo.com/w/login/</string>
	<string>https://login.live.com/</string>
	<string>https://skydrive.live.com/</string>
	<string>https://account.live.com</string>
</array>
</plist>
